@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap%27");
body {
  font-family: "Noto Sans KR", "sans-serif";
  color: #7c7c7c;
}

form {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 0px;
  left: 0px;
  top: 0px;
}

.input-error {
  color: #ff3737;
}

#logo-img {
  background-image: url(../pages/img/Logo.svg);
  width: 220px;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 58px;
}

#logo-text {
  font-size: 80px;
  font-weight: 200;
  margin-top: 27px;
  color: #000000;
  margin-bottom: 25px;
}

input {
  width: 25em;
  font-size: 20px;
  height: 3em;
  border-radius: 1em;
  text-indent: 18px;
  border: 2px solid #999999;
}

span {
  margin-bottom: 5px;
}

input::placeholder {
  font-family: "Noto Sans KR", "sans-serif";
  color: #999999;
}

#hidden {
  visibility: hidden;
}

#visible {
  visibility: visible;
}

#submit {
  background: #ea7274;
  border: none;
  color: white;
  font-family: "Noto Sans KR", "sans-serif";
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 30px;
}

#create-account {
  position: absolute;
  bottom: 10px;
}

.link {
  text-decoration: none;
}

.link:last-child {
  color: #191919;
}

#create-account {
  margin-top: 60px;
}
