@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap%27');
body {
	font-family: 'Noto Sans KR', 'sans-serif';
	color: #7c7c7c;
	font-size: 20px;
}

form {
	width: 100vw;
	position: absolute;
	display: grid;
	flex-direction: column;
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 0px;
	left: 0px;
	top: 0px;
	scale: 0.9;
}

.input-error {
	color: #ff3737;
}

#logo-img {
	background-image: url(../pages/img/Logo.svg);
	width: 220px;
	height: 220px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 20px;
	z-index: -1;
}

#logo-text {
	font-size: 80px;
	font-weight: 200;
	margin-top: 0px;
	color: #000000;
}

input {
	font-size: 18px;
	width: 25em;
	height: 3em;
	border-radius: 1em;
	text-indent: 18px;
	border: 2px solid #999999;
	margin-bottom: 12px;
}

input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='submit'] {
	cursor: pointer;
}

#email {
	width: 19em;
}

#certify {
	height: 3em;
	margin-bottom: 12px;
}

#email-certify-btn {
	width: 5.5em;
	background-color: #f49795;
	border: none;
	color: #ffffff;
	font-family: 'Noto Sans KR', 'sans-serif';
}

input::placeholder {
	font-family: 'Noto Sans KR', 'sans-serif';
	color: #999999;
}

.hidden {
	visibility: hidden;
	color: #ff3737;
}

.visible {
	visibility: visible;
	color: #ff3737;
}

#error-msg {
	color: #ff3737;
}

#submit {
	background: #ea7274;
	border: none;
	color: white;
	font-family: 'Noto Sans KR', 'sans-serif';
	font-weight: 500;
	margin-top: 0px;
}

#remind-account {
	margin-top: 20px;
}

.link {
	text-decoration: none;
}

#find-link {
	color: #4aa9de;
}

.link:last-child {
	color: #191919;
}

#create-account {
	margin-top: 60px;
	font-size: 16px;
}
